<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.applib">
    <application android:name="com.android.applib.MyApp">
        <receiver android:name="com.android.applib.launcher.receivers.InstallerReceiver"  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>